{{!-- greetings.handlebars --}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Greetings</title>
    </head>
    {{!----------}} 
    <body>
        {{!-- Greetings with the name passed --}}
        <h1>Greetings {{ name }}!</h1>
    </body>
</html>