{{!-- Display a gif image --}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Gifs</title>
    </head>
    {{!------------}}
    <body>
      {{!-- Show a gif passed from the route, located in app.js --}}
      <img src="{{ gifUrl }}">
    </body>
</html>